{
  "presets": ["es2015", "stage-2"],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "presets":[["es2015", { "modules": false }], "stage-2"],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
